body{
    font-family: sans-serif;
    margin: 0;
}

.features-section{
    background-color: rgb(231, 233, 235);
    padding: 50px 200px;
}

.feature-heading{
    padding: 20px 0px;
}

.feature-heading h2{
    border-left: 5px solid rgb(190, 11, 11);
    padding: 5px;
}

.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(195, 190, 190);
    text-align: center;
}

.card h2{
    color: rgb(190, 11, 11);
}

.card p{
    text-align: justify;
}

.card img{
    width: 60%;
    border-radius: 50%;
}

@media screen and (max-width:1200px)
{
    .features-section{
        padding: 50px 100px;
    }
}

@media screen and (max-width:992px) {
    .features{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .features-section{
        padding: 40px;
    }
}

@media screen and (max-width: 512px) {
    .features{
        grid-template-columns: 1fr;
    }

    .features-section{
        padding: 20px;
    }
}