.mydiv{
    display: flex;
    background-color: rgb(148, 153, 158);
    height: 500px;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-direction: column; */
}

.mytable{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mytable th{
    border: 1px solid black;
    padding: 10px;
    background-color: blue;
    color: white;
}

.mytable td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.mytable tr:nth-child(even)
{
    background-color: rgb(234, 234, 225);
}



.mytable tr:hover{
    background-color: rgb(164, 179, 191);
}


