.mydiv1{
    /* background-color: blue; */
    color: black;
    width: 33%;
    /* display: inline-block; */
    float: left;
}

.innerdiv1{
    background-color: yellow;
    margin: 20px;
    text-align: center;
}

.mydiv2{
    color: white;
    width: 33%;
    /* display: inline-block; */
    float: left;
}

.innerdiv2{
    background-color: red;
    margin: 20px;
}

.mydiv3{
    color: white;
    width: 33%;
    /* display: inline-block; */
    float: left;
}

.innerdiv3{
    background-color: blue;
    margin: 20px;
}

.btndiv{
    padding-bottom: 20px;
}

.btnbuynow{
    background-color: green;
    color: white;
    /* padding: 10px;
    padding-left: 40px;
    padding-right: 40px; */
    /* padding: 10px 40px 10px 40px; */
    padding: 10px 40px;
    border-radius: 20px;


}